
        <main class="holder">
            <h2>Galeria</h2>
            <div class="galeria">
                <div class="foto">
                    <img src="images/galeria/img01.jpg" alt="img1">
                </div>
                <div class="foto">
                    <img src="images/galeria/img02.jpg" alt="img02">
                </div>
                <div class="foto">
                    <img src="images/galeria/img03.jpg" alt="">
                </div>
                <div class="foto">
                    <img src="images/galeria/img04.jpg" alt="">
                </div>
                <div class="foto">
                    <img src="images/galeria/img05.jpg" alt="">
                </div>
                <div class="foto">
                    <img src="images/galeria/img06.jpg" alt="">
                </div>
                <div class="foto">
                    <img src="images/galeria/img07.jpg" alt="">
                </div>
            </div>
        </main>
