
        
    <main class="holder" >
        <div class="homeimg">
            <img src="images/home/img01.jpg" alt="avion">
        </div>
       <div class="columnas">
        <div class="bienvenidos left">
            <h2>Bienvenidos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quod pariatur maxime asperiores nobis ea deleniti ipsam aperiam dicta commodi aliquid ullam laborum, laudantium tenetur architecto esse fugit voluptatibus consequuntur.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam id natus velit eligendi minus deserunt a quisquam, tempora aut inventore minima consequatur adipisci odio quaerat! Voluptates, exercitationem! Odit, veniam rerum!</p>
        </div>
        <div class="testimonios right">
            <h2>Testimonios</h2>
            <div class="testimonio">
                <span class="cita" > Simplemente Excelente </span>
                <span class="autor" >
                    Juan Perez - Zapatos.com
                </span>
            </div>
        </div>
       </div>
    </main>