<main class="holder" >
    <div class="historia">
        <h2>Historia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus reprehenderit eveniet earum quas quis, alias praesentium autem quam laborum suscipit laudantium! A fugiat consequuntur ullam quae, repudiandae fugit quo repellat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorum rerum, dicta deleniti obcaecati modi nam illum amet voluptatem earum aliquid eaque eligendi odit officiis fugit nisi. Modi, deleniti error!</p>
    </div>


        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis architecto asperiores nulla ipsum ut dolor mollitia expedita ipsa corporis voluptatum unde autem eos totam accusamus magnam eum, nisi officia vel?</p>
                </div>
            
            
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Juan Gomez">
                    <h5>Juan gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis architecto asperiores nulla ipsum ut dolor mollitia expedita ipsa corporis voluptatum unde autem eos totam accusamus magnam eum, nisi officia vel?</p>
                </div>
            
            
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Juan Gomez">
                    <h5>Juan gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis architecto asperiores nulla ipsum ut dolor mollitia expedita ipsa corporis voluptatum unde autem eos totam accusamus magnam eum, nisi officia vel?</p>
                </div>
            
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Juan Gomez">
                    <h5>Juan gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis architecto asperiores nulla ipsum ut dolor mollitia expedita ipsa corporis voluptatum unde autem eos totam accusamus magnam eum, nisi officia vel?</p>
                </div>
            
                
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Juan Gomez">
                    <h5>Juan gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis architecto asperiores nulla ipsum ut dolor mollitia expedita ipsa corporis voluptatum unde autem eos totam accusamus magnam eum, nisi officia vel?</p>
                </div>
            </div>
        
</main>