<main class="holder" >
    <h2>Servicios</h2>
    <div class="servicio">
        <img src="images/servicios/ferroviario.jpg" alt="tren">
        <div class="info">
                <h4>Transporte Ferroviario</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis placeat officia, iure dolorum quidem a laborum maxime excepturi laboriosam soluta vero laudantium quis eligendi aperiam, delectus labore magni illum! Porro.</p>
    
        </div>
    </div>
    <div class="servicio">
        <img src="images/servicios/aereo.jpg" alt="tren">
        <div class="info">
                  <h4>Transporte aereo</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis placeat officia, iure dolorum quidem a laborum maxime excepturi laboriosam soluta vero laudantium quis eligendi aperiam, delectus labore magni illum! Porro.</p>
  
        </div>
    </div>
    <div class="servicio">
        <img src="images/servicios/maritimo.jpg" alt="tren">
        <div class="info">
                  <h4>Transporte Maritimo</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis placeat officia, iure dolorum quidem a laborum maxime excepturi laboriosam soluta vero laudantium quis eligendi aperiam, delectus labore magni illum! Porro.</p>
  
        </div>
    </div>
</main>
